version: 2.1

jobs:
  pytest-allure:
    docker:
      - image: cimg/python:3.12
    environment:
      ALLURE_ENDPOINT: "https://demo.testops.cloud/"
      ALLURE_PROJECT_ID: "4601"
      ALLURE_RESULTS: "allure-results"

    steps:
      - checkout

      - run:
          name: Install deps
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      - run:
          name: Download allurectl
          command: |
            wget https://github.com/allure-framework/allurectl/releases/latest/download/allurectl_linux_amd64 -O ./allurectl
            chmod +x ./allurectl

      - run:
          name: Run pytest via allurectl
          command: |
            ./allurectl watch \
              --endpoint "${ALLURE_ENDPOINT}" \
              --project-id "${ALLURE_PROJECT_ID}" \
              --token "${ALLURE_TOKEN}" \
              -- pytest --alluredir="${ALLURE_RESULTS}" --capture=no

workflows:
  version: 2
  pytest-allure-workflow:
    jobs:
      - pytest-allure
